<!-- wp:template-part {"slug":"header","theme":"home-styling-interior","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"slider-main owl-carousel","layout":{"type":"constrained","contentSize":"100%"}} -->
<main id="content" class="wp-block-group slider-main owl-carousel">
	<!-- wp:pattern {"slug":"home-styling-interior/header-banner"} /-->
</main>
<!-- /wp:group -->

	<!-- wp:pattern {"slug":"home-styling-interior/interior-services-section"} /-->
	
	<!-- wp:pattern {"slug":"home-styling-interior/latest-blog"} /-->

<!-- wp:template-part {"slug":"footer","theme":"home-styling-interior","tagName":"footer"} /-->